%page-container {
  & {
    box-sizing: border-box;
    width: 100%;
  }

  & {
    height: 50vh;
  }

  & > .content {
    width: 640px;
    max-width: calc(100% - #{$margin-sm * 2});
    padding: 0 $margin-sm;
    margin: $margin-xlg auto 0;
  }
}
