{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "files": ["e2e/*.spec.ts"],
      "extends": ["plugin:testcafe/recommended"],
      "plugins": [
        "eslint-plugin-testcafe"
      ]
    }
  ]
}
