%page-container {
  & {
    box-sizing: border-box;
    width: 100%;
    max-width: $page-container-width;
    padding: 0 $margin-md;
    margin: 0 auto;
  }

  & > .title {
    font-size: $font-heading-pc;

    @media ($sp) {
      font-size: $font-heading-sp;
    }
  }

  & > .content {
    padding: 0 $margin-xlg;
    margin-top: $margin-lg;

    @media ($sp) {
      padding: 0;
    }
  }
}

%base-button {
  & {
    padding: 0.8em 1.5em;
    font-size: $font-md;
  }
}
