@mixin card-shadow {
  box-shadow:
    0 3.4px 2.7px rgba(0, 0, 0, 0.022),
    0 8.7px 6.9px rgba(0, 0, 0, 0.031),
    0 17.7px 14.2px rgba(0, 0, 0, 0.039),
    0 36.5px 29.2px rgba(0, 0, 0, 0.048),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

@mixin marker-text($duration: 2s) {
  & {
    background: linear-gradient(to left, rgba($_primary, 0.2), rgba($_primary, 0.2) 50%, transparent 50%) repeat-x 0 0.5em;
    background-size: 200% 0.8em;
    transition: background-position $duration cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &.-marked {
    background-position: -100% 0.5em;
  }
}
