// プライマリーカラー
$_primary: #e01c84;
// セカンダリカラー
$_secondary: #9a6bb5;
// 警告カラー
$_caution: #9a6bb5;
// 非活性カラー
$_inactive: #ccc;
// 白
$_white: #fafafa;
// テキストカラー
$_text: #252521;
// ボーダーカラー
$_border: $_inactive;

// フォントサイズ
// 最小
$font-sm: 1.2rem;
// 通常
$font-md: 1.4rem;
// 大きい
$font-lg: 2rem;
// 見出し
$font-heading: 3.2rem;

// フォントウェイト
// 通常
$font-normal: 400;
// 太い
$font-bold: 600;

// フォントファミリー
$font-family: sans-serif;

// PC/SPのブレイクポイント
$breakpoint: 720px;

// レイアウト
// ページコンテナ（PC）
$page-container-width: 600px;

// 余白
// 小さい
$margin-sm: 12px;
// 中くらい
$margin-md: 20px;
// 大きい
$margin-lg: 32px;
// 特大
$margin-xlg: 48px;
